{% macro SelectCountryDialog(field) %}

{% set dialog_id = field.id + "-select-country-dialog" %}

{# แสดง ช่องสำหรับกด #}
<div class="py-1">
    <legend class="fieldset-legend text-xs mb-[-2px]!">
        {{ field.label.text }}
        {% if field.flags.required %}
            <span class="text-error">*</span>
        {% endif %}
    </legend>
    <input
        readonly
        type="text"
        id="{{ field.id }}"
        name="{{ field.name }}"
        value="{{ field.data }}"
        class="select w-full cursor-pointer"
        onclick="document.getElementById('{{ dialog_id }}').showModal();"
    />
</div>

{# หน้าต่างเลือกประเทศ #}
<dialog id="{{ dialog_id }}" class="modal modal-bottom sm:modal-middle">
    <div class="modal-box">
        {% if close_at_corner %}
            <button
                type="button"
                class="btn btn-sm btn-circle btn-ghost absolute right-2 top-2 outline-none"
                onclick="document.getElementById('{{ dialog_id }}').close();">
                ✕
            </button>
        {% endif %}
        
        <h3 class="font-bold text-lg">เลือกประเทศ / Select Country</h3>
        <p class="text-sm">คุณสามารถเลือกประเทศจากรายการด้านล่าง หรือกรอกชื่อประเทศใหม่ได้</p>

        <div id="country-options" class="py-4 gap-1 flex flex-col max-h-[50vh] overflow-y-auto" style="overflow-wrap: break-word;">
            กำลังโหลดข้อมูลประเทศ...
        </div>

        <div class="grid grid-cols-2 max-sm:grid-cols-1 gap-2">
            <div class="py-1">
                <legend class="fieldset-legend text-xs mb-[-2px]!">
                    กรอกชื่อประเทศใหม่ / Enter New Country
                </legend>
                <input type="text" id="{{ dialog_id }}-new-country" class="input w-full m-0" placeholder="กรอกชื่อประเทศใหม่ / Enter Country" />
            </div>
            <button class="btn bg-black text-white sm:mt-[34px]" type="button" onclick="onAddNewCountry()">
                บันทึก / Save
            </button>
        </div>

        <div class="modal-action">
            <button
                type="button"
                class="btn outline-none w-full"
                onclick="document.getElementById('{{ dialog_id }}').close();">
                ปิดหน้าต่าง / Close
            </button>
        </div>
    </div>
</dialog>

<script>
    const onAddNewCountry = () => {
        const countryInput = document.getElementById("{{ field.id }}");
        const newCountryInput = document.getElementById("{{ dialog_id }}-new-country");
        const newCountry = newCountryInput.value.trim();
        if (newCountry) {
            countryInput.value = newCountry;
            document.getElementById("{{ dialog_id }}").close();
        }
        initOptions();
    };
    const countryDialog = document.getElementById("{{ dialog_id }}");
    let isLoading = true;
    let countries = [];
    const fetchCountries = () => {
        fetch("{{ url_for('api.master_countries') }}")
            .then(response => response.json())
            .then(data => {
                countries = data.countries.filter(c => c != '');
                initOptions();
            })
            .catch(error => {
                console.error("Error fetching country data:", error);
            })
            .finally(() => {
                isLoading = false;
                // populateCountryOptions();
            });
    }
    const initOptions = () => {
        const dialogBody = countryDialog.querySelector(".modal-box > #country-options");
        const countryInput = document.getElementById("{{ field.id }}");
        dialogBody.innerHTML = "";
        countries.forEach(country => {
            const isActive = countryInput.value === country;
            let countryOption = document.createElement("div");
            countryOption.className = "px-4 py-2 border border-primary/50 hover:bg-primary/25 bg-white text-sm rounded cursor-pointer" + (isActive ? " bg-primary! hover:bg-primary! text-white font-medium" : "");
            countryOption.innerHTML = `<div class='flex items-center gap-2'><div class='size-1.5 rounded-full ${isActive ? "bg-white" : "bg-primary"}'></div>` + country + "</div>";
            countryOption.onclick = function() {
                countryInput.value = country;
                countryDialog.close();
                fetchCountries();
            };
            dialogBody.appendChild(countryOption);
        });
    }
    fetchCountries();
</script>
{% endmacro %}