{% extends "/base/default_page.html" %}
{% import "/components/dialogs.html" as dialog %}
{% import "base/html_renderer.html" as renderer %}

{% if 'edit' in request.path %}
  {% set title_page="แก้ไขผู้อพยพ / Edit Migrant" %}
{% else %}
  {% set title_page="เพิ่มผู้อพยพ / Create Migrant" %}
{% endif %}

{% block content %}
{% if duplicated_refugee %}
  {{ dialog.Dialog(
    init_show=True,
    id="%s-disactive-dialog" | format(duplicated_refugee.id),
    title="ยืนยันการลบรายการศูนย์พักพิง",
    body="มีผู้อพยพชื่อ <b>%s</b> อยู่แล้วในระบบ คุณต้องการที่จะบันทึกข้อมูลนี้ใช่หรือไม่?" | format(form.name.data),
    action_button_text="ยืนยันการบันทึก / Confirm Save",
    action_button_onclick="{ 
      document.getElementById('is-confirm-duplicate').value = 'yes';
      document.getElementById('submit-refugee-button').click();
    }"
  )}}
{% endif %}
<form class="bg-white rounded-lg p-4" method="POST"
  action="{{ url_for('refugees.create_or_edit', refugee_id=refugee_id) }}">
  {{ form.csrf_token }}
  {{ renderer.base_render(form.refugee_camp) }}
  <div class="grid grid-cols-2 gap-x-4">
    {{ renderer.base_render(form.nick_name) }}
    {{ renderer.base_render(form.name) }}
    {{ renderer.base_render(form.address) }}
    {{ renderer.base_render(form.phone) }}
    {{ renderer.base_render(form.nationality) }}
    {{ renderer.base_render(form.ethnicity) }}
    {{ renderer.base_render(form.country) }}
    {{ renderer.base_render(form.age) }}
    {{ renderer.base_render(form.gender) }}
    {{ renderer.base_render(form.congenital_disease) }}
    {{ renderer.base_render(form.people_count) }}
    {{ renderer.base_render(form.pets) }}
    {{ renderer.base_render(form.expected_days) }}
    {{ renderer.base_render(form.emergency_contact) }}
    <div class="col-span-2">
      {{ renderer.render_text_area_field(form.remark) }}
    </div>
    {{ renderer.base_render(form.registration_date) }}
    {{ renderer.base_render(form.back_home_date) }}
  </div>
  {{ renderer.base_render(form.status) }}
  {% if duplicated_refugee %}
    <input type="hidden" id="is-confirm-duplicate" name="is_confirm" value="no" />
  {% endif %}
  <div class="modal-action justify-end">
    <a class="btn" href="{{ url_for('refugees.index') }}">
      ยกเลิก / Cancel
    </a>
    <button class="btn btn-primary" type="submit" id="submit-refugee-button">
      ยืนยัน / Save
    </button>
  </div>
</form>
{% endblock %}