{% extends "/base/default_page.html" %}
{% import "base/html_renderer.html" as renderer %}
{% import "/components/dialogs.html" as dialog %}
{% import "/components/paginations.html" as paginations %}

{% set title_page="รายชื่อผู้อพยพ" %}

{% block content %}
<div class="bg-white rounded-3xl border border-gray-300">
    <div class="overflow-x-auto p-6">
        <div class="flex flex-row items-end justify-between mb-2">
            <form method="GET">
                <div class="text-xl font-medium text-gray-700">
                    ค้นหารายชื่อผู้อพยพ
                </div>
                <div class="flex gap-4 items-center">
                    {{ renderer.base_render(search_form.refugee_camp) }}
                    {{ renderer.base_render(search_form.search) }}
                    <button type="submit" class="btn btn-primary text-white mt-4">
                        ค้นหา
                    </button>
                </div>
            </form>
            {% if 'admin' in current_user.roles or 'refugee_camp_staff' in current_user.roles %}
                <a class="btn btn-primary text-white" href="{{ url_for('refugees.create_or_edit', **request.args) }}">
                    <span class="material-symbols-outlined text-sm">add</span>
                    เพิ่มผู้อพยพ
                </a>
            {% endif %}
        </div>
        <table class="table  w-full text-sm border-x border-t border-gray-200 ">
            <thead class=" text-gray-700">
                <tr>
                <th>ลำดับ</th>
                <th>ชื่อเล่น</th>
                <th>ชื่อ-นามสกุล</th>
                <th>สถานะ</th>
                <th>ศูนย์พักพิง</th>
                <th></th>
                </tr>
            </thead>
            <tbody>
                {% for refugee in refugees_pagination.items %}
                <tr class="border-b border-x border-gray-200">
                    <td>{{ loop.index }}</td>
                    <td>{{ refugee.nick_name }}</td>
                    <td>{{ refugee.name }}</td>
                    <td>
                        <div class="border rounded-lg py-1 px-2 size-fit
                            {{ 'text-blue-500 border-blue-500' if refugee.status == 'active' else '' }}
                            {{ 'text-red-500 border-red-500' if refugee.status == 'deactive' else '' }}
                            {{ 'text-green-500 border-green-500' if refugee.status == 'back_home' else '' }}
                             ">
                             {{ refugee.get_status_display() }}
                        </div>
                    </td>
                    <td>{{ refugee.refugee_camp.name }}</td>
                    <td class="flex gap-2 justify-end">
                        <a href="{{ url_for('refugees.create_or_edit', refugee_id=refugee.id) }}" class="btn btn-outline btn-sm text-gray-600 border-gray-300">
                            <span class="material-symbols-outlined">
                                edit_square
                            </span>
                        </a>
                        <button class="btn btn-outline btn-sm border-gray-300 text-error"
                           onclick="$('#{{refugee.id}}-disactive-dialog')[0].showModal()">
                            <span class="material-symbols-outlined">
                            delete
                            </span>
                        </button>
                        {{ dialog.DisactiveDialog(
                            id="%s-disactive-dialog" | format(refugee.id),
                            title="ยืนยันการลบรายการผู้อพยพ",
                            body="คุณต้องการที่จะลบรายการผู้อพยพชื่อ <b>%s</b> ใช่หรือไม่?" | format(refugee.name),
                            url=url_for("refugees.delete_refugee", refugee_id=refugee.id)
                        )}}
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        {{ paginations.render_pagination(
            pagination=refugees_pagination,
            endpoint='refugees.index',
            key_page='page',
            kwargs=request.args.to_dict()
        ) }}
    </div>
</div>
{% endblock %}