{% extends "/base/default_page.html" %}
{% import "base/html_renderer.html" as renderer %}
{% import "/components/dialogs.html" as dialog %}
{% import "/components/paginations.html" as paginations %}

{% set title_page="รายชื่อผู้อพยพ" %}

{% block content %}
<div class="bg-white rounded-3xl border border-gray-300">
    <div class="overflow-x-auto p-6">
        <div class="flex flex-row max-sm:flex-col w-full sm:items-end justify-between mb-2 gap-4">
            <form method="GET">
                <div class="text-xl font-medium text-gray-700">
                    รายชื่อผู้อพยพ / Refugees
                </div>
                <div class="grid grid-cols-3 max-sm:grid-cols-1 gap-x-4 items-center">
                    {{ renderer.base_render(search_form.refugee_camp, class="w-full h-full px-3", class_="!p-0") }}
                    {{ renderer.base_render(search_form.search) }}
                    <button type="submit" class="btn btn-primary text-white sm:mt-8 max-sm:mt-3">
                        <span class="ph ph-magnifying-glass text-lg"></span>
                        ค้นหา / Search
                    </button>
                </div>
            </form>
            {% if 'admin' in current_user.roles or 'refugee_camp_staff' in current_user.roles %}
                <a class="btn btn-primary text-white" href="{{ url_for('refugees.create_or_edit', **request.args) }}">
                    <span class="material-symbols-outlined text-sm">add</span>
                    เพิ่มผู้อพยพ
                </a>
            {% endif %}
        </div>
        {% set args = request.args.to_dict() %}
        {% set _ = args.pop('view_mode', None) %}
        <div class="max-sm:grid grid-cols-2 w-full flex justify-end mb-4 gap-2">
            <a href="{{ url_for('refugees.index', view_mode='grid', **args) }}" class="btn {{ 'bg-black text-white' if view_mode == 'grid' else ''}}">
                ดูแบบการ์ด
                <span class="ph ph-squares-four"></span>
            </a>
            <a href="{{ url_for('refugees.index', view_mode='list', **args) }}" class="btn {{ 'bg-black text-white' if view_mode == 'list' else ''}}">
                ดูแบบตาราง
                <span class="ph ph-list-dashes"></span>
            </a>
        </div>
        {% if view_mode == 'grid' %}
            <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4">
                {% for refugee in refugees_pagination.items %}
                    <div>
                        <div class="card bg-base-100 shadow-md">
                            <div class="card-body p-4">
                                <h2 class="card-title flex items-center justify-between gap-2">
                                    <div>
                                        {{ loop.index}}. {{ refugee.name }} {{ ("(" + refugee.nick_name + ")") if refugee.nick_name else "" }}
                                    </div>
                                    {% if "admin" in current_user.roles %}
                                        <div class="card-actions justify-end">
                                            <a href="{{ url_for('refugees.create_or_edit', refugee_id=refugee.id) }}" class="btn btn-outline btn-sm text-gray-600 border-gray-300">
                                                <span class="material-symbols-outlined">
                                                    edit_square
                                                </span>
                                            </a>
                                            <button class="btn btn-outline btn-sm border-gray-300 text-error"
                                            onclick="$('#{{refugee.id}}-disactive-dialog')[0].showModal()">
                                                <span class="material-symbols-outlined">
                                                delete
                                                </span>
                                            </button>
                                            {{ dialog.DisactiveDialog(
                                                id="%s-disactive-dialog" | format(refugee.id),
                                                title="ยืนยันการลบรายการผู้อพยพ",
                                                body="คุณต้องการที่จะลบรายการผู้อพยพชื่อ <b>%s</b> ใช่หรือไม่?" | format(refugee.name),
                                                url=url_for("refugees.delete_refugee", refugee_id=refugee.id)
                                            )}}
                                        </div>
                                    {% endif %}
                                </h2>
                                <p>ศูนย์พักพิง: {{ refugee.refugee_camp.name }}</p>
                                {{ render_refugee_status(refugee.status) }}
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        {% else %}
            <table class="table  w-full text-sm border border-gray-200 ">
                <thead class=" text-gray-700">
                    <tr>
                    <th>ลำดับ</th>
                    <th>ชื่อเล่น</th>
                    <th>ชื่อ-นามสกุล</th>
                    <th>สถานะ</th>
                    <th>ศูนย์พักพิง</th>
                    <th></th>
                    </tr>
                </thead>
                <tbody>
                    {% for refugee in refugees_pagination.items %}
                    <tr class="border-b border-x border-gray-200">
                        <td>{{ loop.index }}</td>
                        <td>{{ refugee.nick_name }}</td>
                        <td>{{ refugee.name }}</td>
                        <td>
                            {{ render_refugee_status(refugee.status) }}
                        </td>
                        <td>{{ refugee.refugee_camp.name }}</td>
                        <td class="flex gap-2 justify-end">
                            <a href="{{ url_for('refugees.create_or_edit', refugee_id=refugee.id) }}" class="btn btn-outline btn-sm text-gray-600 border-gray-300">
                                <span class="material-symbols-outlined">
                                    edit_square
                                </span>
                            </a>
                            <button class="btn btn-outline btn-sm border-gray-300 text-error"
                            onclick="$('#{{refugee.id}}-disactive-dialog')[0].showModal()">
                                <span class="material-symbols-outlined">
                                delete
                                </span>
                            </button>
                            {{ dialog.DisactiveDialog(
                                id="%s-disactive-dialog" | format(refugee.id),
                                title="ยืนยันการลบรายการผู้อพยพ",
                                body="คุณต้องการที่จะลบรายการผู้อพยพชื่อ <b>%s</b> ใช่หรือไม่?" | format(refugee.name),
                                url=url_for("refugees.delete_refugee", refugee_id=refugee.id)
                            )}}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
        {{ paginations.render_pagination(
            pagination=refugees_pagination,
            endpoint='refugees.index',
            key_page='page',
            kwargs=request.args.to_dict()
        ) }}
    </div>
</div>
{% endblock %}

{% macro render_refugee_status(status) %}
 <div class="border rounded-lg py-0.5 px-1.5 size-fit
    {{ 'text-blue-500 border-blue-500' if status == 'active' else '' }}
    {{ 'text-red-500 border-red-500' if status == 'deactive' else '' }}
    {{ 'text-green-500 border-green-500' if status == 'back_home' else '' }}
        ">
    {{ 'อยู่ในศูนย์พักพิง' if status == 'active' else '' }}
    {{ 'ถูกลบออก' if status == 'deactive' else '' }}
    {{ 'กลับบ้านแล้ว' if status == 'back_home' else '' }}
</div>
{% endmacro %}