{% extends "/base/default_page.html" %}
{% import "base/html_renderer.html" as renderer %}


{% set title_page="แจ้งปัญหาการเปลี่ยนสถานะผู้อพยพ / Immigration status change" %}


{% block content %}

<div class="mb-4">
  <a href="{{ url_for('index.index') }}">
    <i class="ph ph-arrow-left text-lg"></i>
    กลับไปหน้าหลัก / Back to Home
  </a>
</div>

<div class="bg-white rounded-3xl border border-gray-300">
  <div class="overflow-x-auto p-6">
    <div class="flex flex-row max-sm:flex-col w-full sm:items-end justify-between mb-2 gap-4"></div>
      <form method="GET">
        <div class="text-xl font-medium text-gray-700 flex justify-between items-center w-full">
          <p>แจ้งปัญหาการเปลี่ยนสถานะผู้อพยพ / Immigration status change</p>
        </div>

        <div>
          {{ renderer.render_text_area_field(form.description, placeholder="โปรดระบุชื่อ–นามสกุล หมายเลขโทรศัพท์ และรายละเอียดปัญหาที่พบ เช่น “นายทดสอบ ระบบ โทร. 012-345-6789 ตรวจสอบสถานะให้ด้วยครับ") }}
        </div>

        <div class="modal-action justify-end">
          <a class="btn" href="{{ url_for('refugees.index') }}">
            ยกเลิก / Cancel
          </a>
          <button class="btn btn-primary" type="submit" id="submit-refugee-button">
            ยืนยัน / Save
          </button>
        </div>

      </form>
  </div>
</div>

{% endblock content %}
