{% extends "/base/default_page.html" %}
{% import "base/html_renderer.html" as renderer %}


{% set title_page="คำร้องจากผู้อพยพ / Requests from Migrants" %}


{% block content %}
{% if not current_user.is_authenticated %}
<div class="mb-4">
  <a href="{{ url_for('index.index') }}">
    <i class="ph ph-arrow-left text-lg"></i>
    กลับไปหน้าหลัก / Back to Home
  </a>
</div>
{% endif %}

<div class="bg-white rounded-3xl border border-gray-300">
	<div class="overflow-x-auto p-6">
		<div class="flex flex-row max-sm:flex-col w-full sm:items-end justify-between mb-2 gap-4">
			<form method="GET">
				<div class="text-xl font-medium text-gray-700 flex justify-between items-center w-full">
					<p>คำร้องจากผู้อพยพ / Requests from Migrants</p>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock content %}
