{% extends "/base/default_page.html" %}
{% import "base/html_renderer.html" as renderer %}
{% import "/components/dialogs.html" as dialog %}
{% import "/components/paginations.html" as paginations %}

{% set title_page="คำร้องจากผู้อพยพ / Requests from Migrants" %}


{% block content %}
{% if not current_user.is_authenticated %}
<div class="mb-4">
  <a href="{{ url_for('index.index') }}">
    <i class="ph ph-arrow-left text-lg"></i>
    กลับไปหน้าหลัก / Back to Home
  </a>
</div>
{% endif %}

<div class="bg-white rounded-3xl border border-gray-300">
	<div class="overflow-x-auto p-6">
		<div class="flex flex-row max-sm:flex-col w-full sm:items-end justify-between mb-2 gap-4">
			<form method="GET">
        <div class="text-xl font-medium text-gray-700 flex justify-between items-center w-full">
          <p>คำร้องจากผู้อพยพ / Requests from Migrants</p>

        </div>
        <div class="grid grid-cols-6 max-md:grid-cols-2 max-sm:grid-cols-1 gap-x-4 items-center">
          <div class="col-span-1 ">
            {{ renderer.base_render(search_form.search) }}
          </div>
          <div class="col-span-1">
          {{ renderer.base_render(search_form.report_status) }}
          </div>
          <div class="col-span-2 max-sm:col-span-1">
            {{ renderer.base_render(search_form.report_type) }}
          </div>
          <input name="view_mode" type="hidden" value="{{ view_mode }}">
          <button type="submit" class="btn btn-primary text-white sm:mt-8 max-sm:mt-3">
            <span class="ph ph-magnifying-glass text-lg"></span>
            ค้นหา / Search
          </button>
        </div>
      </form>
		</div>

		<!-- Desktop: Table View -->
    <div class="hidden md:block overflow-x-auto">
      <table class="table w-full text-sm border border-gray-200">
        <thead class="text-gray-700 bg-gray-50">
          <tr>
            <th class="text-center px-3 py-3">ลำดับ</th>
            <th class="text-left px-3 py-3 min-w-[150px]">หัวข้อ</th>
            <th class="text-left px-3 py-3 min-w-[180px]">สถานะ</th>
            <th class="text-left px-3 py-3 min-w-[150px]">รายละเอียด</th>
						<th class="text-left px-3 py-3 min-w-[150px]">รายละเอียดจากเจ้าหน้าที่</th>
            {% if "admin" in current_user.roles or "refugee_camp_staff" in current_user.roles %}
            <th class="text-right px-3 py-3 min-w-[120px]">จัดการ</th>
            {% endif %}
          </tr>
        </thead>

        <tbody>
          {% for report in reports_pagination.items %}
          <tr class="border-b border-gray-200 hover:bg-gray-50">

            <!-- ลำดับ -->
            <td class="text-center px-3 py-3">
              {{ loop.index + (reports_pagination.page - 1) * reports_pagination.per_page }}
            </td>


          <td class="px-4 py-3 truncate max-w-xs">
            {{ report.title }}
          </td>

            <td class="px-3 py-3">
              <div class="flex items-center gap-2">
                {{ report.report_status }}
              </div>
            </td>

            <td class="px-3 py-3 truncate max-w-sm">
							{% if report.description %}
              <p class="whitespace-pre-line">{{ report.description }}</p>
							{% else %}
              <p class="whitespace-pre-line">-</p>
              {% endif %}
            </td>
            <td class="px-3 py-3 truncate max-w-xs">
                {% if report.staff_note %}
                {{ report.staff_note }}
                {% else %}
                -
                {% endif %}
            </td>

            <!-- ปุ่มจัดการ -->
            {% if "admin" in current_user.roles or ("refugee_camp_staff" in current_user.roles) %}
            <td class="px-3 py-3">
              <div class="flex gap-1 justify-end">
				<div class="tooltip" data-tip="{{ 'อ่านแล้ว' if report.report_status == 'read' else 'ยังไม่อ่าน' }}">
                    <a class="btn btn-circle" href="{{ url_for('refugees.change_status_report', report_id=report.id) }}">
                    {% if report.report_status == "read" %}
                    <i class="ph ph-eye text-2xl text-green-500"></i>
                    {% else %}
                    <i class="ph ph-eye-closed text-2xl"></i>
                    {% endif %}
                    </a>
                </div>
                <div class="tooltip" data-tip="เพิ่ม note">
                    <a class="btn btn-circle" href="{{ url_for('refugees.add_staff_note', report_id=report.id) }}">
                        <i class="ph ph-note text-2xl"></i>
                    </a>
                </div>
              </div>
            </td>
            {% endif %}

          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>

		<!-- Mobile: Table View -->
		<div class="md:hidden space-y-4">
			{% for report in reports_pagination.items %}
			<div class="border border-gray-200 rounded-lg p-4 space-y-3">
				<div class="flex justify-between items-center">
					<div class="font-medium text-gray-700 truncate max-w-xs">
						{{ report.name }}
					</div>
					<div>
						{{ report.status }}
					</div>
				</div>
				<div>
					<span class="font-medium text-gray-600">คำร้องจากผู้อพยพ:</span>
					<p class="whitespace-pre-line mt-1 truncate max-w-sm">
						{% if report.description %}
							{{ report.description }}
							{% else %}
							-
							{% endif %}	
					</p>
				</div>
				<div>
					<span class="font-medium text-gray-600">รายละเอียดจากเจ้าหน้าที่:</span>
					<p class="whitespace-pre-line mt-1 truncate max-w-xs">
            {% if report.staff_note %}
            {{ report.staff_note }}
            {% else %}
            -
            {% endif %}
					</p>
				</div>
        {% if "admin" in current_user.roles or ("refugee_camp_staff" in current_user.roles) %}
        <td class="px-3 py-3">
          <div class="flex gap-1 justify-end">
            <div class="tooltip" data-tip="{{ 'อ่านแล้ว' if report.report_status == 'read' else 'ยังไม่อ่าน' }}">
              <a class="btn btn-circle" href="{{ url_for('refugees.change_status_report', report_id=report.id) }}">
                {% if report.report_status == "read" %}
                <i class="ph ph-eye text-2xl text-green-500"></i>
                {% else %}
                <i class="ph ph-eye-closed text-2xl"></i>
                {% endif %}
              </a>
            </div>
            <div class="tooltip" data-tip="เพิ่ม note">
              <a class="btn btn-circle" href="{{ url_for('refugees.add_staff_note', report_id=report.id) }}">
                <i class="ph ph-note text-2xl"></i>
              </a>
            </div>
          </div>
        </td>
        {% endif %}
			</div>
			{% endfor %}
		</div>	

		{% if search_form.search.data and not reports_pagination.items %}
    <div class="mt-4 py-4 text-center text-gray-500 italic">
      ไม่พบปัญหาที่ตรงกับคำค้นหา
    </div>
    {% endif %}
    {{ paginations.render_pagination(
            pagination=reports_pagination,
            endpoint='refugees.view_reports',
            key_page='page',
            kwargs=request.args.to_dict()
        ) }}

	</div>
</div>

{% endblock content %}
