<div class="drawer-side shadow {{ 'hidden' if not current_user.is_authenticated else '' }} ">
  <label for="drawer-menu" aria-label="close sidebar" class="drawer-overlay h-full"></label>

  <div class="flex flex-col h-full bg-gradient-to-b from-blue-600 to-blue-800 text-white w-64">

    <!-- Header -->
    <div class="py-4 flex items-center gap-3 border-b border-blue-400/30 px-8">
      <div class="avatar">
        <div class="w-12 h-12 rounded-full ring ring-white/40 ring-offset-1">
          <img src="{{ url_for('static', filename='images/klabban.png') }}" alt="ระบบงานพระ"
            class="w-full h-full object-cover" />
        </div>
      </div>
      <div>
        <div class="text-xl font-bold">Klabban</div>
      </div>
    </div>

    <!-- Menu -->
    <div class="flex-grow text-sm menu w-full">
      <ul class="menu gap-2 w-full">

        <!-- Main menu header -->
        <li class="menu-title px-6 pt-4">
          <span class="text-xs uppercase opacity-80 text-blue-100">Main menu</span>
        </li>

        <li>
          <a class="{{ 'drawer-menu-active' if request.path == url_for('index.index') else '' }}"
            href="{{ url_for('index.index') }}">
            <i class="ph ph-layout-grid text-lg"></i>
            แดชบอร์ด
          </a>
        </li>

        <li>
          <a class="{{ 'drawer-menu-active' if '/refugee_camps' in request.path else '' }}"
            href="{{ url_for('refugee_camps.index') }}">
            <i class="ph ph-house-line text-lg"></i>
            ศูนย์พักพิง
          </a>
        </li>
        <li class="">
          <a class="{{ 'drawer-menu-active' if '/refugees' in request.path else '' }}"
            href="{{ url_for('refugees.index') }}">
            <i class="ph ph-person text-lg"></i>
            ผู้อพยพ
          </a>
        </li>
        {% if "admin" in current_user.roles %}
          <li>
            <a class="{{ 'drawer-menu-active' if '/users' in request.path else '' }}"
              href="{{ url_for('users.index') }}">
              <i class="ph ph-users text-lg"></i>
              ผู้ใช้งาน
            </a>
          </li>
        {% endif %}
      </ul>
      <ul class="mt-auto menu gap-2 w-full">
        {% if current_user.is_authenticated %}
          <li>
            <a class="text-red-500" href="{{ url_for('accounts.logout') }}">
              <i class="ph ph-sign-out text-lg"></i>
              ออกจากระบบ
            </a>
          </li>
        {% else %}
          <li>
            <a class="text-white" href="{{ url_for('accounts.login') }}">
              <i class="ph ph-sign-in text-lg"></i>
              เข้าสู่ระบบ
            </a>
          </li>
        {% endif %}
      </ul>
  </div>
</div>
