{% extends "/base/default_page.html" %}
{% import "base/html_renderer.html" as renderer %}

{% set title_page="สร้างบัญชีใหม่" %}
{% set description_page="สมัครสมาชิกเข้าสู่ระบบ" %}

{% block content %}

<!-- แสดงข้อความ flash -->
{% with messages = get_flashed_messages(with_categories=true) %}
  {% if messages %}
    {% for category, message in messages %}
      <div class="alert {% if category == 'error' %}alert-error{% else %}alert-success{% endif %} mb-4">
        <span class="text-white">{{ message }}</span>
      </div>
    {% endfor %}
  {% endif %}
{% endwith %}

<form method="POST" class="space-y-6 w-full bg-white p-4 rounded-lg">
  {{ form.hidden_tag() }}

  <div class="form-control w-full">
    {{ renderer.base_render(form.username) }}
    {% if 'edit' not in request.path %}
      {{ renderer.base_render(form.password) }}
    {% endif %}
    {{ renderer.base_render(form.first_name) }}
    {{ renderer.base_render(form.last_name) }}
    {{ renderer.base_render(form.refugee_camp) }}
    {{ renderer.base_render(form.role) }}
  </div>
  <div class="flex justify-end gap-4">
    <a href="{{ url_for('users.index') }}"
      class="btn">
      ปิด
    </a>
    <button type="submit" class="btn btn-primary">
      {{'แก้ไข' if 'edit' in request.path else 'สร้าง'}}บัญชี
    </button>
  </div>
</form>

{% endblock %}
