{% extends "/base/default_page.html" %}
{% import "/components/paginations.html" as paginations %}
{% import "base/html_renderer.html" as renderer %}
{% import "/components/dialogs.html" as dialog %}


{% set title_page="จัดการผู้ใช้งาน" %}

{% block content %}
<div id="create-edit-user"></div>
<div id="delete-user"></div>
<div id="login-history-modal"></div>
<div class="bg-base-200 h-9 w-fit items-center justify-center rounded-xl p-[3px] flex" id="user-tabs">
  <input type="radio" name="user_role" class="tab checked:bg-white checked:rounded-xl checked:py-1"
    aria-label="ผู้ใช้งาน" checked="checked" />
  <input type="radio" name="user_role" class="tab checked:bg-white checked:rounded-xl checked:py-1"
    aria-label="บทบาทและสิทธิ์" />
  <!-- <input type="radio" name="user_role" class="tab checked:bg-white checked:rounded-xl checked:py-1"
    aria-label="กิจกรรมการใช้งาน" /> -->

</div>
<div class="bg-white rounded-3xl border-1 border-gray-300 p-6 mt-4" id="users">
  <div class="flex flex-col md:flex-row justify-between gap-4">
    <h4 class="max-w-sm min-w-32">
      รายการผู้ใช้งาน
    </h4>
    {% if "admin" in current_user.roles %}
    <form action="{{ url_for('users.index') }}" method="get"
      class="flex md:flex-row flex-col gap-2 w-full items-end justify-end flex-wrap">
      <div class="flex md:flex-row flex-col gap-2 flex-wrap justify-end max-md:w-full">
        <div class="flex md:w-80 w-full">
          {{ renderer.base_render(form.search, placeholder="ค้นหาชื่อผู้ใช้งาน, ชื่อ-นามสกุล, อีเมล, บทบาท") }}
        </div>
      </div>
      <div class="flex gap-2 w-full md:mb-5 md:w-auto justify-end">
        <button class="btn">
          <span class="material-symbols-outlined">
            search
          </span>
          ค้นหา
        </button>
        <a href="{{ url_for('users.create_or_edit_user') }}" class="btn btn-primary">
          <span class="material-symbols-outlined">
            add
          </span>
          เพิ่มผู้ใช้งาน
        </a>
      </div>
    </form>
    {% else %}
    <div class="flex gap-2 md:flex-row flex-col items-end w-full">
      <form action="{{ url_for('users.index') }}" method="get"
        class="flex md:flex-row flex-col gap-2 w-full items-end justify-end">
        <div class="flex md:w-80 w-full">
          {{ renderer.base_render(form.search, placeholder="ค้นหาชื่อผู้ใช้งาน, ชื่อ-นามสกุล, อีเมล, บทบาท") }}
        </div>
        <div class="flex gap-2 w-full md:mb-5 md:w-auto justify-end">
          <button class="btn-ghost-orange">
            <span class="material-symbols-outlined">
              search
            </span>
            ค้นหา
          </button>
          <!-- ซ่อนปุ่มเพิ่มผู้ใช้งานสำหรับ non-admin -->
        </div>
      </form>
    </div>
    {% endif %}
  </div>
  <div class="overflow-x-auto mt-4">
    <table class="w-full">
      <thead>
        <tr class="border-b border-gray-200">
          <th class="text-left py-3 px-4 text-gray-600">ชื่อผู้ใช้งาน</th>
          <th class="text-left py-3 px-4 text-gray-600">ชื่อ-นามสกุล</th>
          <th class="text-left py-3 px-4 text-gray-600">บทบาท</th>
          <th class="text-left py-3 px-4 text-gray-600">ศูนย์พักพิง</th>
          <th class="text-left py-3 px-4 text-gray-600">สถานะ</th>
          <th class="text-left py-3 px-4 text-gray-600">เข้าใช้งานล่าสุด</th>
          <th class="text-left py-3 px-4 text-gray-600">การจัดการ</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users_pagination.items %}
        <tr class="hover:bg-base-100">
          <td class="py-3 px-4">{{ user.username }}</td>
          <td class="py-3 px-4">{{ user.get_fullname() }}</td>
          <td class="py-3 px-4 min-w-72 gap-2">
            <div class="flex flex-wrap gap-2">
              {% for role in user.get_display_roles() %}
              <div class="badge bg-white border border-orange-500 text-orange-500">
                <span>{{ role }}</span>
              </div>
              {% endfor %}
            </div>
          </td>
          <td class="py-3 px-4">
            {% if user.refugee_camp %}
              <span class="badge bg-white border border-blue-500 text-blue-500">
                {{ user.refugee_camp.name }}
              </span>
            {% else %}
              <span class="text-gray-400">-</span>
            {% endif %}
          </td>
          <td class="py-3 px-4">
            <span
              class="badge text-white w-32 {{ 'bg-green-500' if user.status == 'active' else 'bg-red-500' }}">
              {{ user.display_status() }}</span>
          </td>
          <td class="py-3 px-4 text-gray-400 min-w-[160px]">
            {{ user.last_login_date.strftime('%Y-%m-%d %H:%M') if user.last_login_date else '-' }}
          </td>
          <td class="py-3 px-4">
            <div class="flex lg:flex-row flex-col">
              <a class="btn btn-sm btn-ghost hover:bg-orange-100/50 hover:border-0 border-0 hover:text-orange-700"
                href="{{ url_for('users.create_or_edit_user', user_id=user.id, **request.args) }}">
                <span class="material-symbols-outlined">
                  edit_square
                </span>
              </a>
              <button
                class="btn btn-sm btn-ghost hover:bg-red-100/50 hover:border-0 border-0 text-red-500 hover:text-red-700"
                onclick="$('#{{user.id}}-delete-dialog')[0].showModal()">
                <span class="material-symbols-outlined">
                  delete
                </span>
              </button>
              {{ dialog.DisactiveDialog(
                id="%s-delete-dialog" | format(user.id),
                title="ยืนยันการลบผู้ใช้งาน",
                body="คุณต้องการที่จะลบผู้ใช้งานชื่อ <b>%s</b> ใช่หรือไม่?" | format(user.get_fullname()),
                url=url_for("users.delete_user",
                user_id=user.id, **request.args)
              )}}
            </div>

          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>

    {{ paginations.render_pagination(
      pagination=users_pagination,
      endpoint='users.index',
      key_page='page',
      kwargs=request.args.to_dict()
    ) }}
  </div>
</div>

{% macro role_description(name, description, watch_only=false) %}
<div class="p-4 border border-gray-200 rounded-lg">
  <div class="flex items-center justify-between">
    <div>
      <h3 class="text-gray-900 mb-1">{{ name }}</h3>
      <p class="text-sm text-gray-600">{{ description }}</p>
    </div>
    <span class="material-symbols-outlined text-orange-700">
      {{'shield' if not watch_only else 'visibility'}}
    </span>
  </div>
</div>
{% endmacro %}
<div class="bg-white rounded-3xl border-1 border-gray-300 p-6 mt-4" id="roles-permissions" style="display: none;">
  <div class="grid auto-rows-min grid-rows-[auto_auto] items-start gap-1.5">
    <h4 class="leading-none mb-2">บทบาทและสิทธิ์การใช้งาน</h4>
  </div>
  <div class="px-6 grid grid-cols-1 md:grid-cols-3 gap-6 mt-4">
    <div class="space-y-4">
      {{ role_description(
        name="ผู้ดูแลระบบ (Admin)",
        description="จัดการศูนย์พักพิง (RefugeeCamp) ทั้งหมดในระบบ รวมถึงการตั้งค่าผู้ใช้งานและสิทธิ์การเข้าถึงระบบ",
      ) }}
    </div>
    <div class="space-y-4">
      {{ role_description(
        name="เจ้าหน้าที่ศูนย์พักพิง (Staff)",
        description="เพิ่มและจัดการข้อมูลผู้อพยพ (Refugee) ภายในศูนย์พักพิงที่รับผิดชอบ",
      ) }}
    </div>
    <div class="space-y-4">
      {{ role_description(
        name="ผู้ใช้ทั่วไป (User)",
        description="ค้นหาและดูข้อมูลทั่วไป สามารถเข้าถึงข้อมูล Sensitive เช่น รูปภาพของผู้อพยพได้",
        watch_only=false,
      ) }}
    </div>
  </div>
</div>
<div class="bg-white rounded-3xl border-1 border-gray-300 p-6 mt-4" id="activity-log" style="display: none;">
</div>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const tabs = document.querySelectorAll("#user-tabs .tab");
    tabs.forEach((tab) => {
      tab.addEventListener("change", function () {
        if (this.checked) {
          const role = this.getAttribute("aria-label");
          if (role === "ผู้ใช้งาน") {
            document.getElementById("users").style.display = "block";
            document.getElementById("roles-permissions").style.display = "none";
            document.getElementById("activity-log").style.display = "none";
          } else if (role === "บทบาทและสิทธิ์") {
            document.getElementById("users").style.display = "none";
            document.getElementById("roles-permissions").style.display = "block";
            document.getElementById("activity-log").style.display = "none";
          } else if (role === "กิจกรรมการใช้งาน") {
            document.getElementById("users").style.display = "none";
            document.getElementById("roles-permissions").style.display = "none";
            document.getElementById("activity-log").style.display = "block";
          }
        }
      });
    });
  });
</script>
{% endblock %}